#header {

    display: flex;
    justify-content: space-between;
    align-items: center;



}

* {
    font-family: Poppins;
}


.container {
    margin: 0 auto;
    width: 87.5%;
}

#top-bar {
    background-color: #FEEAE9;
    display: flex;
    border-radius: 20px;
    margin-bottom: 60px;


}

.top-content {
    padding-right: 300px;
    margin: 50px;


}

.top-content h1 {
    color: #000000;
    font-size: 50px;

}

.top-content p {
    font-family: Inter;
    font-size: 16px;
    color: #4E4E4E;
}

.price {
    font-size: 41px;
    color: #FF136F;
    font-family: Poppins;
}

#btn-c {
    background-color: #FF136F;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cat-type {
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}


.cat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: #FF136F;
    font-size: 36px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.btn {
    background: black;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.btn::after {
    content: " →";
    margin-left: 10px;
}

.shoes {
    display: flex;
    gap: 30px;
}

.shoes-item {
    border: 2px solid #929292;
    border-radius: 20px;
    text-align: center;
    padding: 24px;
    margin-bottom: 150px;
    box-shadow: 0 1px 10px 0 #8C8C8C;

}

.shoes-item h2 {
    font-size: 24px;
    color: black;
}

.price-b {
    color: #000000;
    font-size: 24px;
    font-weight: normal;
}

.last-box {
    background-color: #FFF2F1;
    align-items: center;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;


}

.last-box h2 {
    font-size: 30px;
    color: #1F1F1F;
}

.last-box p {
    font-size: 16px;
    color: #707070;
}

.email-input {
    font-size: 18px;
    padding: 12px 15px;
    width: 280px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.email-input ::placeholder {
    font-size: 18px;
}